<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form data</title>
        <style>
            *{
                margin: 0;
                box-sizing: border-box;
            }
            body{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            h1{
                font-size: 40px;
                text-align: center;
                margin-bottom: 20px;
            }
            table{
                width: 1000px;
                padding: 0;
                border: 1px solid #212121;
                margin: 0 auto 20px;
            }
            table thead{
                background-color: slateblue;
                color: white;
            }
            table tr td, table tr th{
                border-bottom: 1px solid #212121;
                border-right: 1px solid #212121;
                padding: 10px;
                font-size: 20px;
                text-align: center;
            }
            table tr:nth-child(even){
                background-color: rgb(223, 220, 242);
            }
        </style>
    </head>
    <body>
        <h1>User Data</h1>
        <form action="/updateData" method="post">
            <table>
                <input type="hidden" name="updateId" value="<%= student.userId %> "/>
                <tr>
                    <td>User Id :</td>
                    <td><input disabled type="number" name="userId" id="" value="<%= student.userId %>"></td>
                </tr>
                <tr>
                    <td>Name :</td>
                    <td><input type="text" name="name" id="" value="<%= student.name %>"></td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td><input type="email" name="email" id="" value="<%= student.email %>"></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td><input type="password" name="password" id="" value="<%= student.password %>"></td>
                </tr>
                <tr>
                    <td>Phone Number :</td>
                    <td><input type="number" name="phone" id="" value="<%= student.phone %>"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>